.Nav{
    background-color: rgba(0, 0, 0, 0.40);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    //justify-content: center;
    letter-spacing: 1.2px;
    position: sticky;
    top: 0;

    ul{
        list-style-type: none;
        padding: 5px; /* add padding */
        margin: 5px; /* add margins */
        text-decoration: none;
    }
    button{
        color: white;
        border: none;
        font-size: 30px;
        background: none;
    }
    li{
        color: white;
        display: inline-block;
        margin-right: 90px;
        font-size: 2em;
    }
    li:hover{
        color: green;
        animation-name: slideIn;
        animation-duration: 1s;

    }

    @keyframes slideIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
            text-shadow: white;
        }
    }
    @media screen and (max-width: 700px) {
        li{
            font-size: 1px;
        }

        button{
            
            font-size: 20px;
            
        }
        
    
    }

}


