body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
body[background-image]{
  filter: grayscale(100%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2{
/* text-decoration: underline; */
  font-size: 35px;
  padding-top: 50px;
  position: relative;
}

h2::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Dopasuj wartość, aby ustawić pozycję podkreślenia */
  width: 100%;
  height: 1px; /* Grubość podkreślenia */
  background-color: rgba(0, 0, 0, 0.3); /* Kolor podkreślenia z przezroczystością */
}
